.container {
  display: block;
  align-content: center;
}
.jumbotron {
  color: whitesmoke;
  background-color: #ead8d5;
}
#result {
  color: green;
}

// business logic 

$(document).ready(function() {
  var inputtedNumber = $(inputtedNumber).submit();
  var application = 
  var show = 


});
function application() {
  $("id").submit("application");
}



// user interface logic



$(document).ready(function() {
  $("form#application").submit(function(event) {
    event.preventDefault();
    var application = $("input#application").val();
    var result = application(inputtedNumber);
    $("#result").submit(result);
  
  });
});